.encabezado {
    background-color: pink;
    padding: 20px;
    color: white;
    font-family: "Patrick Hand";
}
.tarjeta {
    background-color: white;
    margin: 10px;
    margin-top: 30px;
}
.tarjeta:hover {background-color: rgba(128, 128, 128, 0.211);}